 body{
            background-color: aliceblue;
            font-family: 'Times New Roman', Times, serif;
            margin: 0%;
            padding: 0%;
            color: rgb(37, 33, 11);
        }

        .contacto{
            max-width: 600px;
            margin: 50px;
            padding: 20px;
            background-color: rgb(172, 172, 184);
            border-radius: 15px;
            box-shadow: 2px 4px rgb(41, 40, 40);
            line-height: 1.2%;
            color: black;
            
        }

        #registration-form{

            max-width: 600px;
            margin: 50px;
            padding: 20px;
            background-color: rgb(136, 182, 167);
            border-radius: 15px;
            box-shadow: 2px 4px rgb(158, 106, 106)   ;
            line-height: 1.5%;
            color: black; 
            align-content: center;
        



        }

     